@import 'styles/colors.scss';
@import 'styles/fonts.scss';

$radioButtonExternalWidth: 30px;
$radioButtonInternalWidth: 18px;

.container {
  display: inline-block;

  .labelContainer {
    display: flex;
    align-items: center;
    color: $darkGray;
    font-size: 49px;
    font-family: BariolRegular;

    .radioBorder {
      width: $radioButtonExternalWidth;
      height: $radioButtonExternalWidth;
      border-radius: 50%;
      border: 5px solid $violet;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;

      .selected {
        width: $radioButtonInternalWidth;
        height: $radioButtonInternalWidth;
        border-radius: 50%;
        background-color: $violet;
      }
    }
  }
}
