@import 'styles/colors.scss';
@import 'styles/fonts.scss';

$fontSize: 54px;
$fontFamily: BariolRegular;

.labelContainer {
  color: $green;
  text-align: left;
  margin-bottom: 20px;
  font-size: $fontSize;
  font-family: $fontFamily;
}

.inputContainer {
  width: 100%;
  display: flex;
  position: relative;

  .text {
    width: 100%;
    height: 100px;
    color: $darkGray;
    position: relative;
    border-radius: 15px;
    font-size: $fontSize;
    font-family: $fontFamily;
    border: 2px solid $lightGray;
  }

  .password {
    @extend .text;
    padding-right: 100px;
  }

  .showHideButton {
    right: 20px;
    color: $darkGray;
    font-size: 45px;
    position: absolute;
    align-self: center;
  }
}
