@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.button {
  width: 100%;
  color: white;
  font-size: 54pt;
  border-radius: 15px;
  font-family: BariolRegular;
  background-color: $btViolet;
}
