@import 'styles/colors.scss';
@import 'styles/fonts.scss';

$backgroundColorEnabled: $violet;
$backgroundColorDisabled: $lightGray;

.container {
  width: 100%;
  padding: 5px;
  border-radius: 15px;
}

.buttonCommons {
  width: 100%;
  color: white;
  font-size: 54px;
  border-radius: 15px;
  font-family: BariolRegular;
}

.enabled {
  @extend .container;
  background-color: $backgroundColorEnabled;

  .button {
    @extend .buttonCommons;
    background-color: $backgroundColorEnabled;
    border: 3px solid $backgroundColorEnabled;
  }

  .button:active {
    border: 3px solid white;
  }
}

.disabled {
  @extend .container;
  background-color: $backgroundColorDisabled;

  .button {
    @extend .buttonCommons;
    background-color: $backgroundColorDisabled;
    border: 3px solid $backgroundColorDisabled;
  }
}
