@import 'styles/colors.scss';
@import 'styles/fonts.scss';

$backgroundColorNormalEnabled: $violet;
$backgroundColorNormalDisabled: $lightGray;

$backgroundColorSmallEnabled: white;
$backgroundColorSmallDisabled: $lightGray;

.containerCommons {
  padding: 5px;
  border-radius: 15px;
}

.buttonCommons {
  width: 100%;
  border-radius: 15px;
  font-family: BariolRegular;
}

.normalEnabled {
  @extend .containerCommons;
  background-color: $backgroundColorNormalEnabled;

  .button {
    @extend .buttonCommons;
    color: white;
    font-size: 54px;
    background-color: $backgroundColorNormalEnabled;
    border: 3px solid $backgroundColorNormalEnabled;
  }

  .button:active {
    border: 3px solid white;
  }
}

.normalDisabled {
  @extend .containerCommons;
  background-color: $backgroundColorNormalDisabled;

  .button {
    @extend .buttonCommons;
    font-size: 54px;
    background-color: $backgroundColorNormalDisabled;
    border: 3px solid $backgroundColorNormalDisabled;
  }
}

.smallEnabled {
  @extend .containerCommons;
  display: inline-block;
  border: 2px solid $lightGray;
  background-color: $backgroundColorSmallEnabled;

  .button {
    @extend .buttonCommons;
    color: $violet;
    font-size: 49px;
    background-color: $backgroundColorSmallEnabled;
    border: 3px solid $backgroundColorSmallEnabled;
  }

  .button:active {
    border: 3px solid $violet;
  }
}

.smallDisabled {
  @extend .containerCommons;
  display: inline-block;
  border: 2px solid $lightGray;
  background-color: $backgroundColorSmallDisabled;

  .button {
    @extend .buttonCommons;
    color: $violet;
    font-size: 49px;
    background-color: $backgroundColorSmallDisabled;
    border: 3px solid $backgroundColorSmallDisabled;
  }
}
