@import 'styles/colors.scss';
@import 'styles/fonts.scss';

$icons: (
  notifications: './Notifications.svg',
  signOut: './SignOut.svg',
);

.container {
  display: inline-block;

  .labelContainer {
    display: flex;
    align-items: center;
    color: $darkGray;
    font-size: 56px;
    font-family: BariolRegular;

    @each $icon, $source in $icons {
      .#{$icon} {
        width: 87px;
        height: 87px;
        margin-right: 5px;
        background: url($source) center center/contain no-repeat;
      }
    }
  }
}
